body {
  background: url(../photos/homepage-login.png) repeat-y center center;
  background-size: cover;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Arvo", serif;
  color: white;
}

h1 {
  margin: 8px 8px 8px 12px;
}

.navbar {

}

/* homepage */
#homepage-title {
  text-align: start;
  color: #A65A17;
  font-weight: 700;
  font-size: 80px;
  text-shadow: 1px 1px 2px white;
}

.homepage-app-intro {
  /* color: white;
  text-shadow: 1px 1px 2px ; */
  color: white;
  text-shadow: 0.4px 0.4px 0.4px black;
}
.homepage-app-intro-description {
  color: white;
 
}

/* .homepage-reg-log {
  color: ;
} */

/* dashboard */
/* .meal-plan-dashboard-card
.mp-dashboard-title */

/* meal plan view page */
/* #meal-plan-edit-bottom {

} */
