{% extends 'base.html' %}

{% block title %}Dashboard - Steady{% endblock %}

{% block body %}
    <!-- welcome  -->
    <div>
        <!-- greeting added by javascript depending on time of day -->
        <h1 id="dashboard-greeting"></h1>
        <p></p>
    </div>

    <!-- today's meal plan -->
    <div>
        <h2>Today's Meal Plan</h2>
        {% if meal_plan_today and planned_recipes_today %}
            <ul>
                {% for planned_recipes in planned_recipes_today %}
                    <li>
                        <span>{{ planned_recipes.meal_type }}:</span> <span>{{ planned_recipes.recipe.title }}</span> 
                    </li>
                {% endfor %}
            </ul>
            <a href="/meal-plan">View/Edit Meal Plan</a>
        {% else %}
            <p>No meal plans for today.</p>
            <a href="/meal-plan">Create Meal Plan for Today</a>
        {% endif %}
    </div>

    <!-- today's nutrition analysis -->
    <div>
        <h2>Today's Nutrition</h2>
        {% if today_nutrition %}
            <ul>
                {% for nutrient, info in today_nutrition.items() %}
                    <li>
                        <span>{{ nutrient }}:</span> <span>{{ info["quantity"] }}{{ info["unit"] }}</span>
                    </li>
                {% endfor %}
            </ul>
            <a href="/nutrition-analysis">Full Nutrition Report</a>
        {% else %}
            <p>Log meals to see today's nutrition!</p>
            <a href="/log-meal">Log a Meal</a>
        {% endif %}
    </div>

    <!-- upcoming reminders -->
    <div>
        <h2>Reminders</h2>
        <p>
            upcoming reminders will be here in the next update!
        </p>
        <a href="/reminders">Edit Reminders</a>
    </div>

    <!-- links -->
    <div>
        <a href="/log-meal">Log New Meal</a>
        <a href="/meal-plan">Plan Next Meal</a>
        <a href="/grocery-list">View Grocery List</a>
        <a href="/recipes/search">Search Recipes</a>
        <a href="/profile">Update Profile</a>
    </div>
{% endblock %}

{% block after_body %}
    <script>
        // greeting based on time of day
        document.addEventListener("DOMContentLoaded", () => {
            const greetingDashboard = document.querySelector("#dashboard-greeting");
            const userDashboard = "{{ user.fname }}";

            if (greetingDashboard) {
                const hour = new Date().getHours;
                let greetingPrefix;
                if (hour < 12) {
                    greetingPrefix = "Good morning, ";
                } else if (hour < 18) {
                    greetingPrefix = "Good evening, ";
                } else {
                    greetingPrefix = "Good evening, ";
                }
                greetingDashboard.textContent = greetingPrefix + userDashboard + "!";
            }
        });
    </script>
{% endblock %}