{% extends 'base.html' %}
{% block title %}Steady{% endblock %}

{% block body %}
    <h1 id="homepage-title">Steady</h1>

    <h2 class="homepage-app-intro">Steady helps Parkinson's patients navigate dietary needs with personalized meal planning, nutrition tracking, and mindful eating.</h2>

    <a href="/register" class="homepage-reg-log">Get Started</a>
    <a href="/login" class="homepage-reg-log">Login</a>

    <h3 class="homepage-app-intro">Personalized Meal Plans</h3>
    <p class="homepage-app-intro-description">Create daily and weekly meal plans tailored to your medication, allergies, and unique nutritional goals. 
        Reduce mealtime stress.</p>

    <h3 class="homepage-app-intro">Nutrition Tracking</h3>
    <p class="homepage-app-intro-description">Easily log your meals and gain insights into your intake of key nutrients like protein, fiber, and vitamins. 
        Spot nutritional trends without effort.</p>

    <h3 class="homepage-app-intro">Grocery Lists</h3>
    <p class="homepage-app-intro-description">Automatically generate grocery lists from your meal plans</p>

{% endblock %}