{% extends 'base.html' %}
{% block title %}{% endblock %}

{% block body %}
    <h1></h1>

    <p>Steady helps Parkinson's patients and their caregivers navigate dietary needs with personalized meal planning, nutrition tracking, and mindful eating.</p>

    <a href="/register">Get Started</a>
    <a href="/login">Login</a>

    <h3>Personalized Meal Plans</h3>
    <p>Create daily and weekly meal plans tailored to your medication, allergies, and unique nutritional goals. Reduce mealtime stress.</p>

    <h3>Nutrition Tracking</h3>
    <p>Easily log your meals and gain insights into your intake of key nutrients like protein, fiber, and vitamins. Spot trends without effort.</p>

    <h3>Grocery Lists</h3>
    <p>Automatically generate grocery lists from your meal plans</p>
{% endblock %}