{% extends "base.html" %}

{% block title %}Log a Meal - Steady{% endblock %}

{% block body %}
    <div>
        <div>
            <h1 class="display-4">Log Your Meal</h1>
            <p>Record what you've eaten to track your nutrition.</p>
        </div>

        <!-- select data and meal type -->
        <div>
            <h2>Meal Details</h2>

            <!-- date -->
            <div>
                <label for="log-date">Date</label>
                <input type="date" id="log-date" value="{{ today_str }}">
            </div>

            <!-- meal type -->
            <div>
                <label for="meal-type">Meal Type</label>
                <select id="meal-type">
                    <option value="breakfast">Breakfast</option>
                    <option value="lunch">Lunch</option>
                    <option value="dinner">Dinner</option>
                    <option value="snack">Snack</option>
                </select>
            </div>
            <button id="view-logged-meals-bttn">
                View/Refresh Logged Meals for Selected Date
            </button>
        </div>

        <!-- logged meals for selected date -->
        <div id="logged-meals-display">
            <h2>Meals Logged for <span id="current-logged-date">{{ today_str }}</span>:</h2>
            <div id="logged-meals-list">
                <p>Select a date and click "View" to see logged meals.</p>
                <!-- will be added using javascript  -->
            </div>
        </div>

        <!-- recipe search section (for logging) -->
        <div>
            <h2>Search Recipes to Log:</h2>
            <div>
                <input type="text" id="recipe-search-input-log" placeholder="Search for recipes">
            </div>
            <button id="search-recipes-bttn-log">
                Search
            </button>

            <div id="search-results-log">
                <p>Start searching to find recipes to log.</p>
                <!-- results added using javascript -->
            </div>
        </div> 
    </div>
{% endblock %}

{% block after_body %}
<script>
    // date and meal type input 
    const logDateInput = document.querySelector("#log-date");
    const mealTypeSelect = document.querySelector("#meal-type");

    // button and div to view logged meals 
    const viewLoggedMealsButtn = document.querySelector("#view-logged-meals-bttn");
    const loggedMealsListDiv = document.querySelector("#logged-meals-list");
    const currentLoggedDateSpan = document.querySelector("#current-logged-date");
    
    // button and div search for recipes to log
    const searchInputLog = document.querySelector("#recipe-search-input-log");
    const searchBttnLog = document.querySelector("#search-recipes-bttn-log");
    const searchResultsLogDiv = document.querySelector("#search-results-log");
    
    // add event listener to view logged meals button 
    viewLoggedMealsButtn.addEventListener("click", (evt) => {
        const selectedDate = logDateInput.value;

        currentLoggedDateSpan.textContent = new Date(selectedDate).toUTCString().slice(0,-13);

        loggedMealsListDiv.innerHTML = "<p>loading logged meals...</p>";

        console.log(selectedDate);
        console.log(currentLoggedDateSpan);

        fetch(`/api/meal-log/get?date=${selectedDate}`)
            .then((response) => response.json())
            .then((responseJson) => {

                loggedMealsListDiv.innerHTML = "";

                if (responseJson.length === 0) {
                    loggedMealsListDiv.innerHTML = "<p>No meals logged for this date.</p>";
                } else {
                    // group meals by meal type 
                    const groupedMeals = {};

                    for (const meal_log of responseJson) {
                        const mealType = meal_log.meal_type;

                        if (!groupedMeals[mealType]) {
                            groupedMeals[mealType] = [];
                        }
                        // add current meal_log entry to array for its meal type
                        groupedMeals[mealType].push(meal_log);
                    }

                    // display meals
                    const mealTypesOrder = ["breakfast", "lunch", "dinner", "snack"];

                    for (const type of mealTypesOrder) {
                        let mealsOfType; 

                        if (groupedMeals[type]) {
                            // list of meals for this particular meal type
                            mealsOfType = groupedMeals[type]
                        } else {
                            // no meals for this meal type 
                            mealsOfType = [];
                        }

                        if (mealsOfType.length > 0) {

                            const mealGroupDiv = document.createElement("div");

                            let listOfMealLogsHtml = "";
                            for (const loggedMeal of mealsOfType) { // loop through each meal log entry
                                listOfMealLogsHtml += `
                                    <li>
                                        ${loggedMeal.recipe_title} (Servings: ${loggedMeal.serving_size})
                                        <button data-meal-log-id="${loggedMeal.meal_log_id}" data-recipe-id="${loggedMeal.recipe_id}" data-meal-type="${loggedMeal.meal_type}" class="remove-from-log-buttn">
                                            Remove
                                        </button> 
                                    </li>
                                `;
                            }

                            mealGroupDiv.innerHTML = `
                                <h4>${type}</h4>
                                <ul>
                                    ${listOfMealLogsHtml}
                                </ul>
                            `;

                            loggedMealsListDiv.appendChild(mealGroupDiv);
                        }
                    }
                }
                removeRecipeButtons = document.querySelectorAll(".remove-from-log-buttn");

                for (const button of removeRecipeButtons) {
                    button.addEventListener("click", (evt) => {
                        const mealLogId = button.dataset.mealLogId
                        const recipeId = button.dataset.recipeId
                        const mealType = button.dataset.mealType

                        fetch("/api/meal-log-remove", {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json",
                            },
                            body: JSON.stringify({
                                meal_log_id: mealLogId,
                                recipe_id: recipeId,
                                meal_type: mealType
                            }),
                        })
                        .then((response) => response.json())
                        .then((responseJson) => {
                            alert((responseJson.message));
                            window.location.reload();
                        });
                    });
                }
            });
    });

    // add event listener to recipe search button - AJAX display recipes a user can add to meal log
    searchBttnLog.addEventListener("click", (evt) => {

        const query = searchInputLog.value.trim();

        if (!query) {
            searchResultsLogDiv.innerHTML = "<p>Enter a search term to view recipes</p>";
            
            return;
        }

        searchResultsLogDiv.innerHTML = "<p>Searching...</p>";

        fetch(`/api/recipes/search?query=${query}`)
        .then((response) => response.json())
        .then((responseJson) => {

            searchResultsLogDiv.innerHTML = "";

            if (responseJson.length === 0) {
                searchResultsLogDiv.innerHTML = "<p>No recipes found matching your criteria.</p>";
            } else {
                for (const recipe of responseJson) {
                    const recipeCard = document.createElement("div");

                    recipeCard.innerHTML = `
                    <h4 class="font-semibold text-gray-800 text-lg mb-2">${recipe.title}</h4>
                    <p>Servings: ${recipe.servings}</p>
                    <button data-recipe-id="${recipe.id}" data-recipe-title="${recipe.title}" data-recipe-servings="${recipe.servings}" class="log-recipe-bttn">
                        Log This Recipe
                    </button>
                    `;
                    searchResultsLogDiv.appendChild(recipeCard);
                };

                // event listeners for "Log this recipe" button 
                const logRecipeButtns = document.querySelectorAll(".log-recipe-bttn")

                for (const button of logRecipeButtns) {
                    button.addEventListener("click", (evt) => {
                        const recipeId = button.dataset.recipeId;
                        const recipeTitle = button.dataset.recipeTitle;
                        const recipeServings = parseFloat(button.dataset.recipeServings);

                        // get date and meal type from user
                        const logDate = logDateInput.value;
                        const mealType = mealTypeSelect.value;

                        let servingsToLog = parseFloat(prompt(`How many servings of "${recipeTitle}" did you eat? (original servings)`));
                        if (isNaN(servingsToLog) || servingsToLog < 0) {
                            alert("enter valid positive number.")
                            return;
                        }

                        fetch("/api/meal-log/add", {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json",
                            },
                            body: JSON.stringify({
                                "log_date": logDate,
                                "meal_type": mealType,
                                "recipe_id": recipeId,
                                "serving_size": servingsToLog
                            }),
                        })
                        .then((response) => response.json())
                        .then((responseJson) => {
                            alert(`${responseJson.message}`);
                        });

                    });
                };
            }
        });
    });

    // event listeners for "Remove recipe" - remove from meal log


    // 

</script>
{% endblock %}