{% extends "base.html" %}

{% block title %}Log a Meal - Steady{% endblock %}

{% block body %}
    <div>
        <div>
            <h1>Log Your Meal</h1>
            <p>Record what you've eaten to track your nutrition.</p>
        </div>

        <!-- select data and meal type -->
        <div>
            <h2>Meal Details</h2>

            <!-- date -->
            <div>
                <label for="log-date">Date</label>
                <input type="date" id="log-date" value="{{ today_str }}">
            </div>

            <!-- meal type -->
            <div>
                <label for="meal-type">Meal Type</label>
                <select id="meal-type">
                    <option value="breakfast">Breakfast</option>
                    <option value="lunch">Lunch</option>
                    <option value="dinner">Dinner</option>
                    <option value="snack">Snack</option>
                </select>
            </div>
            <button id="view-logged-meals-bttn">
                View/Refresh Logged Meals for Selected Date
            </button>
        </div>

        <!-- logged meals for selected date -->
        <div id="logged-meals-display">
            <h2>Meals Logged for <span id="current-logged-date">{{ today_str }}</span>:</h2>
            <div id="logged-meals-list">
                <p>Select a date and click "View" to see logged meals.</p>
                <!-- will be added using javascript  -->
            </div>
        </div>

        <!-- recipe search section (for logging) -->
        <div>
            <h2>Search Recipes to Log:</h2>
            <div>
                <input type="text" id="recipe-search-input-log" placeholder="Search for recipes">
            </div>
            <button id="search-recipes-bttn-log">
                Search
            </button>

            <div id="search-results-log">
                <p>Start searching to find recipes to log.</p>
                <!-- results added using javascript -->
            </div>
        </div> 
    </div>
{% endblock %}

{% block after_body %}
<script>
    // date and meal type input 
    const logDateInput = document.querySelector("#log-date");
    const mealTypeSelect = document.querySelector("#meal-type");

    // button and div to view logged meals 
    const viewLoggedMealsButtn = document.querySelector("#view-logged-meals-bttn");
    const loggedMealsListDiv = document.querySelector("#logged-meals-list");
    const currentLoggedDateSpan = document.querySelector("#current-logged-date");
    
    // button and div search for recipes to log
    const searchInputLog = document.querySelector("#recipe-search-input-log");
    const searchBttnLog = document.querySelector("#search-recipes-bttn-log");
    const searchResultsLogDiv = document.querySelector("#search-results-log");
    
    // add event listener to view logged meals button 
    viewLoggedMealsButtn.addEventListener("click", (evt) => {
        const selectedDate = logDateInput.value;

        currentLoggedDateSpan.textContent = new Date(selectedDate).toDateString();
        loggedMealsListDiv.innerHTML = "<p>loading logged meals...</p>";

        fetch(`/api/meal-log/get?date=${selectedDate}`)
            .then((response) => response.json())
            .then((responseJson) => {

                loggedMealsListDiv.innerHTML = "";

                if (responseJson.length === 0) {
                    loggedMealsListDiv.innerHTML = "<p>No meals logged for this date.</p>";
                } else {
                    // group meals by meal type 
                    const groupedMeals = {};

                    for (const meal_log of responseJson) {
                        const mealType = meal_log.meal_type;

                        if (!groupedMeals[mealType]) {
                            groupedMeals[mealType] = [];
                        }
                        // add current meal_log entry to array for its meal type
                        groupedMeals[mealType].push(meal_log);
                    }

                    // display meals
                    const mealTypesOrder = ["breakfast", "lunch", "dinner", "snack"];

                    for (const type of mealTypesOrder) {
                        let mealsOfType; 

                        if (groupedMeals[type]) {
                            // list of meals for this particular meal type
                            mealsOfType = groupedMeals[type]
                        } else {
                            // no meals for this meal type 
                            mealsOfType = [];
                        }

                        if (mealsOfType.length > 0) {

                            const mealGroupDiv = document.createElement("div");

                            let listOfMealLogsHtml = "";
                            for (const loggedMeal of mealsOfType) { // loop through each meal log entry
                                listOfMealLogsHtml += `
                                    <li>
                                        ${loggedMeal.recipe_title} (${loggedMeal.serving_size} serving(s))
                                        <button data-meal-log-id="${loggedMeal.meal_log_id}" data-recipe-id="${loggedMeal.recipe_id}" data-meal-type="${loggedMeal.meal_type}">
                                            (Remove)
                                        </button> 
                                    </li>
                                `;
                            }

                            mealGroupDiv.innerHTML = `
                                <h4>${type}</h4>
                                <ul>
                                    ${listOfMealLogsHtml}
                                </ul>
                            `;

                            loggedMealsListDiv.appendChild(mealGroupDiv);
                        }
                    }
                }
            });
    })
</script>
{% endblock %}