{% extends 'base.html' %}

{% block title %}Login - Steady{% endblock %}

{% block body %}
    <div>
        <h1 class="display-4">Login</h1>
    </div>
    <form action="/login" method="POST">
        <!-- email -->
        <div>
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" required>
        </div>

        <!-- password -->
        <div>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" required>
        </div>

        <!-- submit -->
        <button type="submit">Login</button>

    </form>
{% endblock %}