{% extends 'base.html' %}



{% block title %}Plan for {{ target_date.strftime("%A, %B, %d, %Y") }} - Steady{% endblock %}

{% block body %}
    <div>
        <h1>
            Plan Meals for {{ target_date.strftime("%A, %B, %d, %Y") }}
        </h1>
        <p>Add or remove recipes for your meal plan.</p>
    </div>
    
    <!-- current planned meals for this day -->
    <div>
        <h2>
            Currently Planned:
        </h2>
        {% set meal_types = ['breakfast', 'lunch', 'dinner', 'snack'] %}
        {% if current_planned_meals_for_day %}
            {% for meal_type in meal_types %}
                <div>
                    <h3>{{ meal_type }}:</h3>
                    {% if current_planned_meals_for_day[meal_type] %}
                    <ul>
                        {% for meal_plan_recipe in current_planned_meals_for_day[meal_type] %}
                        <li>
                            {{ meal_plan_recipe.recipe.title }}
                            
                            <button id="remove-recipe">
                                Remove recipe
                            </button>
                        </li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <p>No {{ meal_type }} planned.</p>
                    {% endif %}
                </div>
            {% endfor %}
        {% else %}
            <p>No meals planned for this day yet.</p>
        {% endif %}
    </div>

    <!-- recipe search section -->
    <div>
        <h2>
            Search & Add Recipes:
        </h2>
        <div>
            <label for="recipe-search-input">Recipe Search</label>
            <input type="text" name="recipe-search" id="recipe-search-input" placeholder="Search for recipes (ex. 'chicken soup')">
            <button id="recipe-search-button">
                Search
            </button>
        </div>

        <!-- basic filters for search -->
        <div>
            <span>Filters:</span>
            <span>
                <label for="filter-likes">My Liked Ingredients</label>
                <input type="checkbox" name="filter-likes" id="filter-likes">
            </span>
        </div>

        <!-- recipe search results -->
        <div id="search-results">
            <!-- search results will be inserted here by javascript (AJAX -->
            <p>Start searching to find recipes 🍽️</p>
        </div>
    </div>
{% endblock %}

{% block after_body %}
    <script>
        // get target date string 
        const targetDate = "{{ target_date.strftime('%Y-%m-%d') }}";
        
        // grab DOM elements 
        const recipeSearchInput = document.querySelector("#recipe-search-input");
        const recipeSearchBttn = document.querySelector("#recipe-search-button");
        const recipeSearchResultDiv = document.querySelector("#search-results");
        const filterLikesCheckbox = document.querySelector("#filter-likes")


        recipeSearchBttn.addEventListener("click", (evt) => {
            const queryRecipeSearch = recipeSearchInput.value.trim();
            if (!queryRecipeSearch) {
                recipeSearchResultDiv.textContent = "Please enter search term."
                return;
            };

            // show a loading message to user
            recipeSearchResultDiv.innerHTML = "<p>Searching...</p>";

            // check if "likes" filter is active
            const likesFilter = filterLikesCheckbox.checked;

            const params = new URLSearchParams({
                query: queryRecipeSearch,
                likes: likesFilter
            }).toString();

            fetch(`/api/recipes/search?${params}`)
                .then((response) => response.json())
                .then((responseJson) => {
                    recipeSearchResultDiv.innerHTML = "";

                    if (responseJson.length === 0) {
                        recipeSearchResultDiv.innerHTML = "<p>No recipes found matching criteria.</p>";
                    } else {
                        for (recipe of responseJson) {
                            const recipeCard = document.createElement("div");
                            recipeCard.innerHTML = `
                            <h4>${recipe.title}</h4>
                            <p>${recipe.servings}</p>
                            <p>${recipe.source}</p>
                            <a href="${recipe.url}">View Recipe</a>
                            `;
                            recipeSearchResultDiv.appendChild(recipeCard)
                        };
                    };
                });
        });

        
    </script>
{% endblock %}